<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light" id="side_nav">
    <div class="header-box px-2  d-flex justify-content-between">
        <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">{{ seo_logo() }}</span>
        </a>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-dark">
            <svg width="18" height="18" fill="currentColor">
                <use xlink:href="#icon-bars-staggered"></use>
            </svg>
        </button>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/documents/hr-job-descriptions" class="nav-link link-dark">
                Должностные инструкции
            </a>
        </li>
{#        <li>#}
{#            <a href="/documents/hr-other" class="nav-link link-dark">#}
{#                Прочее#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a href="/documents/hr-document-flow" class="nav-link link-dark" aria-current="page">#}
{#                Кадровый документооборот#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="/documents/hr-management" class="nav-link link-dark">#}
{#                Управление персоналом#}
{#            </a>#}
{#        </li>#}
    </ul>

</div>
