{% set app = app %}
{% set session = session %}
{% set csrf_token = csrf_token %}

    {% include 'partials/head.twig' with{ title: block('title'), description: block('description') } %}

<body>

<div class="main-container d-flex">

    {% include 'partials/sidebar.twig' %}
    <div class="content">
        {% include 'partials/header.twig' %}
        {% block content %}

        {% endblock %}
    </div>
</div>

{% include 'partials/popup/login.twig' %}
{% include 'partials/popup/register.twig' %}
{% include 'partials/popup/reset.twig' %}
{% include 'partials/footer.twig' %}

</body>
</html>
