{% set app = app %}
{% set session = session %}
{% set csrf_token = csrf_token %}

    {%
        include 'partials/head.twig'
        with{ title: block('title'), description: block('description'), keywords: block('keywords') }
    %}

    {% include 'partials/webmaster/metrika.twig' %}
    {% include 'partials/webmaster/analytics.google.twig' %}
<body>

<div class="main-container d-flex">

    {% include 'partials/sidebar.twig' %}
    <div class="content">
        {% include 'partials/header.twig' %}
        {% block content %}

        {% endblock %}
    </div>
</div>

{% include 'partials/popup/login.twig' %}
{% include 'partials/popup/register.twig' %}
{% include 'partials/popup/reset.twig' %}
{% include 'partials/popup/subscription.twig' %}
{% include 'partials/popup/afterRegister.twig' %}
{% include 'partials/popup/main.twig' %}

{% include 'partials/footer.twig' %}

</body>
</html>
