<div id="small-dialog-afterRegister" class="zoom-anim-dialog mfp-hide">
    <div class="main-content d-flex flex-column">
        <h1>Внимание!</h1>
        <p>На ваш адрес электронной почты направлено письмо со ссылкой подтверждения регистрации на сайте. </p>
    </div>
</div>
