<div id="small-dialog-main" class="zoom-anim-dialog mfp-hide">
    <div class="main-content d-flex flex-column">
        <div class="col-md-12">
            <p>
                Получить комплект ЛНА по кадрам. Более 20+ наименований различных положений
            </p>
            <p>
                <a href="https://t.me/kd_docs_subscribe_bot" class="btn btn-outline-primary" target="_blank">Забрать!</a>
            </p>
        </div>
    </div>
</div>
