<div id="small-dialog-subscription" class="zoom-anim-dialog mfp-hide">
    <div class="main-content d-flex flex-column">
        <h4 >Изменить подписку</h4>
        <div class="col-md-12">
            <div class="d-flex justify-content-center dashboard-content px-2 pt-2" id="subscription-content">

            </div>
        </div>
    </div>
</div>
