{% extends 'layouts/base.twig' %}

{% block title %}
    Ошибка 405
{% endblock %}
{% block description %}
    Метод не разрешен. Ошибка 405.
{% endblock %}
{% block keywords %}
{% endblock %}
{% block content %}
    <div class="dashboard-content error-container px-3 pt-4 col-md-12">
        <h1>Метод не разрешен 405</h1>
        <p>Метод не разрешен</p>
        <p><a href="/">Вернуться на главную</a></p>
    </div>
{% endblock %}
