<div id="small-dialog-orphaned-files" class="zoom-anim-dialog mfp-hide">
    <div class="main-content d-flex flex-column">
        <h4 >Осиротевшие файлы</h4>
        <div class="col-md-12">
            <div class="dashboard-content px-3 pt-4" id="orphanedFiles">
                <ol id="listOrphanedFiles" class="list-group"></ol>
            </div>
        </div>

    </div>
    <div id="manageOrphanedFiles">

    </div>

</div>
