<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light" id="side_nav">
    <div class="header-box px-2  d-flex justify-content-between">
        <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">hr-docs.ru</span>
        </a>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-dark"><i class="fa-solid fa-bars-staggered"></i></button>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin" class="nav-link link-dark" aria-current="page">
                Главная
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/check" class="nav-link link-dark" aria-current="page">
                Проверка
            </a>
        </li>
        <li>
            <a href="/admin/users" class="nav-link link-dark">
                Пользователи
            </a>
        </li>
        <li>
            <a href="/admin/payments" class="nav-link link-dark">
                Платежи
            </a>
        </li>
        <li>
            <a href="/admin/mailing" class="nav-link link-dark">
                Рассылка
            </a>
        </li>
    </ul>

</div>
