{% extends '/layouts/base.twig' %}

{% block title  %}
    Смена пароля
{% endblock %}
{% block description %}
    На данной странице вы можете сменить пароль
{% endblock %}
{% block keywords %}
{% endblock %}
{% block content %}
    <div class="dashboard-content px-3 pt-4">
        {% if token  %}
        <h1 class="fs-3">Изменение пароля</h1>
        <form action="/api/auth/updatePassword" method="POST" data-form-type="updatePassword">
            <div class="mb-3 password-container">
                <label for="newPassword">Новый пароль</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                    <button class="btn btn-outline-secondary toggle-password" type="button">
                        <svg width="14" height="14">
                            <use xlink:href="#icon-eye-open"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mb-3 password-container">
                <label for="confirmNewPassword">Повторите пароль</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword">
                    <button class="btn btn-outline-secondary toggle-password" type="button">
                        <svg width="14" height="14">
                            <use xlink:href="#icon-eye-open"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden"  name="csrf_token" value="{{ csrf_token }}">
            <div class="col-auto">
                <button type="submit" id="doUpdatePassword" class="btn btn-primary mb-3">Обновить</button>
            </div>
        {% endif %}
        </form>
    </div>

{% endblock %}
