{% extends '/layouts/email.twig' %}


{% block title %} {{ subject }} {% endblock %}
{% block content %}
<h1>{{ subject }}</h1>
<p>
    Платеж успешно проведен. Ваш план подписки обновлен.
</p>
<p>Сумма: {{ amount }}</p>
<p>
    Вам доступен неограниченный доступ к документам сайта.
</p>
{%  endblock %}
