{% extends '/layouts/email.twig' %}

{% block title %}{{ subject }}{% endblock %}

{% block content %}
<h1>{{ subject }}</h1>
<p>
    Вы запросили сброс пароля.
</p>
<p>
    {% set link = frontend_url('reset', {'token': token }) %}
    Для продолжения используйте, пожалуйста, данную ссылку <a href="{{ link }}">{{ link }}</a>
</p>
{% endblock %}
