{% extends '/layouts/admin.twig' %}

{% block content %}

    <div class="dashboard-content px-3 pt-4" data-page="log-admin-page">
        <h1 class="fs-3">Логи сайта</h1>
        <div class="m-3 d-flex flex-row align-items-center">
            <div class="col-md-3">
                <button class="btn btn-primary log-update-btn" id="doUpdateLog">Обновить</button>
            </div>
        </div>
        <div class="log-container" id="logOutput">

        </div>
    </div>

{% endblock %}

