{% extends '/layouts/admin.twig' %}

{% block content %}

    <div class="dashboard-content px-3 pt-4" data-page="mailing-admin-page">
        <h1 class="fs-3">Рассылка</h1>

    </div>



{% endblock %}
