{% extends '/layouts/admin.twig' %}

{% block content %}

    <div class="dashboard-content px-3 pt-4" data-page="mailing-admin-page">
        <h1 class="fs-3">Рассылка</h1>
        <p class="mt-3">
            <button class="btn btn-primary new-mailing-btn" id="new-mailing-btn">Создать рассылку</button>
        </p>
        <div id="mailing_table"></div>
    </div>



{% endblock %}
