{% extends '/layouts/admin.twig' %}

{% block content %}

    <div class="dashboard-content px-3 pt-4" data-page="payments-admin-page">
        <h1 class="fs-3">Платежи</h1>

        <div id="payments_table"></div>

    </div>



{% endblock %}


