{% extends '/layouts/admin.twig' %}

{% block content %}

    <div class="dashboard-content px-3 pt-4" data-page="users-admin-page">
        <h1 class="fs-3">Пользователи</h1>

        <div id="users_table"></div>

    </div>



{% endblock %}


