{% extends '/layouts/admin.twig' %}

{% block content %}

    <div class="dashboard-content px-3 pt-4" data-page="users-admin-page">
        <h1 class="fs-3">Пользователи</h1>
        <p>
            <small>
                Удалить пользователей с истекшим токеном подтверждения регистрации.
            </small>
        </p>
        <button class="btn btn-danger" id="delete-users-with-expired-token">
            Удалить
        </button>
        <div id="users_table"></div>

    </div>



{% endblock %}


